# Python virtual environment
venv/
.venv/
env/

# Environment secrets
.env

# Logs
*.log
app.log

# FAISS vector store local files
faiss_telecom_index/

# Pytest cache
.pytest_cache/
__pycache__/
*.pyc

# IDE settings
.vscode/
.idea/

pytest.ini